<ul style="padding: 0">
  <li class="label label-default">кафе</li>
  <li class="label label-default">столовые</li>
  <li class="label label-default">закусочные</li>
  <li class="label label-default">пиццерии</li>
  <li class="label label-default">чебуречные</li>
  <li class="label label-default">скачать</li>
  <li class="label label-default">без рекламы</li>
  <li class="label label-default">без смс</li>
</ul>

<div class="well well-sm">
  <h3>Спасибо, что зашли. Желаете <%= link_to 'отобедать', new_restaurant_path %> или <%= link_to 'почитать', restaurants_path %>, что уже написали?</h3>
</div>
