<h3>Рестораны</h3>

<% if @restaurants.length > 0%>
  <ul class="list-group">
  <% @restaurants.each do |r| %>
    <li class="list-group-item"><%= link_to r.name, restaurant_reviews_path(r) %></li>
  <% end %>
  </ul>
<% else %>
  <div class="well well-sm">
    <h3>У нас первый посетитель! Желаете <%= link_to 'отобедать', new_restaurant_path %>?</h3>
  </div>
<% end %>